body{
  background-color: lightcyan;
}
h1 {
  text-align: center;
  color: darkred;
  font-size: 35px;
}
div.block1 h2{
  text-align: center;
  color: mediumpurple;
}
.block1 {
  width: 1408px;
  float: left;
  padding: 1%;
  border: 5px solid mediumpurple;
  margin: 5px;
  text-align: left;
  background-color: seashell;
}
div.block2{
  width: 504px;
  float: left;
  padding: 1%;
  border: 5px solid #b3d4fc;
  margin: 5px;
  background-color: lavenderblush;
  text-align: center;
}
div.block2 img {
  width: 500px;
  height: 300px;
}
div.block3 h2{
  text-align: center;
  color: plum;
}
.block3 {
  width: 20%;
  height: 370px;
  float: left;
  padding: 1%;
  border: 5px solid plum;
  margin: 5px;
  text-align: left;
  background-color: floralwhite;
}
div.block4 h2{
  text-align: center;
}
div.block4 img{
  width: 500px;
  height: 300px;
}
.block4 {
  width: 504px;
  float: left;
  padding: 1%;
  border: 5px solid #b3d4fc;
  margin: 5px;
  background-color: lavenderblush
}
